/* styles/index.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.image-container img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}